<footer class="footer-main">
    <p class="extra">
        <span id="dynamic-author"></span>
    </p>
    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>
</footer>

<script>
    function updateAuthor() {
        const now = new Date();
        const day = String(now.getDate()).padStart(2, '0');
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const year = now.getFullYear();
        const currentDate = `${day}.${month}.${year}`;
        
        const authorElement = document.getElementById('dynamic-author');
        if (currentDate === '28.10.2025' || currentDate === '02.11.2025') {
            authorElement.innerHTML = 'Literary Braids © ' + year + ' by <a class="link" href="https://ismedina.github.io/crime-dinner">Samuel von Jung</a>';
        } else {
            authorElement.innerHTML = 'Literary Braids © ' + year + ' by <a class="link" href="https://ismedina.github.io">Ismael Medina</a>';
        }
    }
    
    // Run when the page loads
    updateAuthor();
</script>
